html, body {
    height: 100%;
}

.bg-container {
    background-image: url(/assets/images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}